build
pytest
nanoid
omegaconf
ipython
ipython<8.13; python_version < '3.9'
ipykernel
torch
torchvision
python-dotenv
freezegun
build
responses
requests-mock==1.12.1 # Inconvenient to use, soon will be deleted
mmengine