# dat process
soundfile
pillow
numpy

# web server
cos-python-sdk-v5
fastapi>=0.110.1
uvicorn>=0.14.0
click
httpx


# database
ujson
PyYAML
portalocker
peewee


# Information collection
psutil
pynvml
watchdog
