# dat process
soundfile
pillow
matplotlib
numpy

# web server
cos-python-sdk-v5
fastapi>=0.110.1
uvicorn>=0.14.0
requests
click


# database
ujson
pyyaml
peewee


# Information collection
psutil
pynvml
watchdog

