// 导入项目定义的颜色
@import url('./theme/color.scss');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Source Sans Pro, PingFang SC, DFPKingGothicGB-Medium, sans-serif;
  // 设置任何元素的默认边框颜色、文字颜色
  @apply text-default;
  * {
    @apply border-default;
  }
  // svg的默认颜色为当前颜色
  svg {
    fill: currentColor;
  }
  // 添加一种字体
  @font-face {
    font-family: 'JetBrains Mono';
    src: url('@swanlab-vue/assets/font/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Source Sans Pro';
    src: url('@swanlab-vue/assets/font/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}

// 移除safari的蓝边
a,
input,
p,
div {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// 弹跳进入动画
.animate-bounce-in {
  animation: bounceIn 200ms;
  @keyframes bounceIn {
    0%,
    50%,
    100% {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
      opacity: 0.9;
      -webkit-transform: scale3d(0.98, 0.98, 0.98);
      transform: scale3d(0.98, 0.98, 0.98);
    }

    70% {
      opacity: 1;
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
      transform: scale3d(1.03, 1.03, 1.03);
    }

    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
}

// 解决 html2canvas 截图时文字下移的问题
img {
  @apply inline-block;
}
