/**
 * 这部分是颜色变量的定义
 * 一般情况下颜色命名方式为：[颜色类型]-[颜色深度]
 * high、strong相关为颜色更亮
 * dimmed相关为颜色更暗
 */

// @mixin dark {
//   /********************************************
//    * 背景色
//    *******************************************/
//   --background-default: #0f1524;
//   --background-dimmer: #29334f;
//   /********************************************
//    * 边框色
//    *******************************************/
//   --outline-default: #2d3242;
//   /********************************************
//    * 前景色（一般指页面文字）
//    *******************************************/
//   --foreground-default: #f5f9fc;
//   --foreground-dimmer: #c2c8cc;
//   --foreground-dimmest: #9da2a6;
//   /********************************************
//    * 引导色
//    *******************************************/
//   // 成功颜色
//   --positive-highest: #d5e4d9;
//   --positive-higher: #cff1d8;
//   --positive-default: #4e9553;
//   --positive-dimmer: #37733c;
//   // 标准颜色
//   --primary-default: #1c74dd;
//   --primary-dimmest: #d6e8ff;
//   // 危险颜色
//   --negative-default: #bb4c51;
//   --negative-dimmest: #eddcdc;
// }

@mixin light {
  /********************************************
   * 背景色
   *******************************************/
  --background-overlay: rgba(15, 21, 36, 0.8);
  --background-hightest: #ebebec;
  --background-higher: #f6f8fa;
  --background-default: #ffffff;
  /********************************************
   * 边框色
   *******************************************/
  --outline-default: #d1d7dd;
  --outline-dimmer: #e5e8eb;
  /********************************************
   * 前景色（一般指页面文字）
   *******************************************/
  --foreground-default: #000000;
  --foreground-dimmer: #555555;
  --foreground-dimmest: #b5b5b5;
  /********************************************
   * 复杂文字颜色——文字高亮
   *******************************************/
  // 白色系
  --accent-white-default: #ffffff;
  /********************************************
   * 引导色
   *******************************************/
  // 成功颜色
  --positive-highest: #004d0d;
  --positive-higher: #37733c;
  --positive-default: #4e9553;
  --positive-dimmer: #cff1d8;
  --positive-dimmest: #d5e4d9;
  // 标准颜色
  --primary-highest: #004182;
  --primary-higher: #005cb8;
  --primary-default: #1c74dd;
  --primary-dimmer: #74b9ff;
  --primary-dimmest: #d6e8ff;
  // 警告颜色
  --warning-dimmer: #ff9933;
  --warning-dimmest: #ffad5a;
  // 危险颜色
  --negative-highest: #8a0000;
  --negative-higher: #c20a0a;
  --negative-default: #bb4c51;
  --negative-dimmer: #ffc7c7;
  --negative-dimmest: #eddcdc;
}

:root {
  // // 外面使用的应该是通过var()获取的，媒体监听过后的变量，也就是说在此处处理深色、浅色模式
  // @media (prefers-color-scheme: dark) {
  //   @include dark;
  // }
  // // 浅色模式
  // @media (prefers-color-scheme: light) {
  //   @include light;
  // }

  @include light;

  // // 通过body的data-theme属性来切换深色、浅色模式，用于用户主动切换
  // body[data-theme='dark'] {
  //   @include dark;
  //   color-scheme: dark;
  // }
  // body[data-theme='light'] {
  //   @include light;
  //   color-scheme: light;
  // }
}
