name: Publish to PyPI

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Checkout Version
        run: |
          export VERSION=$(echo $GITHUB_REF | sed -n 's/refs\/tags\/v//p')

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
          pip install build
          pip install twine

      - name: Build and Publish
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}

        run: |
          python script/build_pypi.py
      #          python -m twine upload dist/*

      - run: cp dist/*.whl .

      - run: cat swanlab/package.json

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          body: ${{ github.event.head_commit.message }}
          files: |
            *.whl
